TERADATA_HOST=<database_host>
TERADATA_LOGMECH=<logon_mechanism>
TERADATA_USER=<username>
TERADATA_PASSWORD=<password>
SOURCE_DATABASE_PATTERN=DWP01%ACC_ORR,DWP01%IDW
SOURCE_TABLE_PATTERN=DW_%,BM_%
DATABASE_METADATA=<metadata_database>
TABLE_ROW_COUNT=<table_row_count>
TABLE_COLUMN_TYPE=<table_column_type>
OKF_DIRECTORY=okf_bundle